<html>
    <head>
        <title>Flask App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <nav>
                <div>Simulate Single Home</div>
                <div>Simulate Multiple Homes</div>
            </nav>
            <form action="/process_form" method="POST">
                <div>
                    <h2>Data</h2>
                    <label for="Start">Startdato: (YYYY-MM-DD)</label>
                    <input name="Start">
                    <label for="Slutt">Sluttdato: (YYYY-MM-DD)</label>
                    <input name="Slutt">
                    <label for="Energimerke">Energimerke:</label>
                    <input name="Energimerke">
                    <label for="Kvadratmeter">Kvadratmeter:</label>
                    <input type="number" name="Kvadratmeter">
                    <label for="Område">Område:</label>
                    <input type="search" list="options" name="Område">
                    <label for="Beboere">Beboere:</label>
                    <input type="number" name="Beboere">
                </div>

                <datalist id="options">
                    <option value="Oslo"></option>
                    <option value="Bergen"></option>
                    <option value="Trondheim"></option>
                    <option value="Stavanger"></option>
                    <option value="Drammen"></option>
                </datalist>
                
                <div>
                    <h2>Solcelle</h2>
                    <label for="Solcelleareal">Solcelleareal:</label>
                    <input type="number" name="Solcelleareal">
                    <label for="Virkningsgrad">Virkningsgrad:</label>
                    <input type="number" name="Virkningsgrad">
                    <label for="Maks Solinnstråling">Maks Solinnstråling:</label>
                    <input type="number" name="Maks Solinnstråling">
                    <label for="Temperaturkoeffisient">Temperaturkoeffisient:</label>
                    <input type="number" name="Temperaturkoeffisient">
                    <label for="Referansetemperatur">Referansetemperatur:</label>
                    <input type="number" name="Referansetemperatur">
                    <input type="submit" id="submit">
                </div>

                
            </form>
            
        </div>

        <div id="plot-stack">
            <div class="container" id="1"><img src="/static/plot.svg" alt=""></div>
            <div class="container" id="2"><img src="/static/Pvplot.svg" alt=""></div>
            <div class="container" id="3"><img src="/static/Spotplot.svg" alt=""></div>
        </div>

        <div id="plot-stack">
            <div class="container" id="4">a</div>
            <div class="container" id="5">a</div>
            <div class="container" id="6">a</div>
        </div>
    </body>
</html>  