<html>
    <head>
        <title>Flask App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for( 'static', filename='style.css') }}">
    </head>

    <body>
        <div class="container">
            <h1>app</h1>
            <form action="/process_form" method="POST">
                <div>
                    <label for="Dag">Dag</label>
                    <input type="number" name="Dag">
                    <label for="Måned">Måned</label>
                    <input type="number" name="Måned">
                    <label for="År">År</label>
                    <input type="number" name="År">
                    <input type="submit" id="submit">
                </div>

                <div>
                    <label for="Energimerke">Energimerke</label>
                    <input name="Energimerke">
                    <label for="Kvadratmeter">Kvadratmeter</label>
                    <input type="number" name="Kvadratmeter">
                    <label for="Område">Område</label>
                    <input type="search" list="options" name="Område">
                    <label for="Beboere">Beboere</label>
                    <input type="number" name="Beboere">
                </div>

                <datalist id="options">
                    <option value="Oslo"></option>
                    <option value="Bergen"></option>
                    <option value="Trondheim"></option>
                    <option value="Stavanger"></option>
                    <option value="Drammen"></option>
                </datalist>
                
                <div>
                    <label for="Solcelleareal">Solcelleareal</label>
                    <input name="Solcelleareal">
                    <label for="Virkningsgrad">Virkningsgrad</label>
                    <input name="Virkningsgrad">
                    <label for="Maks Solinnstråling">Maks Solinnstråling</label>
                    <input name="Maks Solinnstråling">
                    <label for="Temperaturkoeffisient">Temperaturkoeffisient</label>
                    <input name="Temperaturkoeffisient">
                    <label for="Referansetemperatur">Referansetemperatur</label>
                    <input name="Referansetemperatur">
                </div>

                
            </form>
            
        </div>

        <div id="plot-stack">
            <div class="container" id="1">a</div>
            <div class="container" id="2">a</div>
            <div class="container" id="3">a</div>
        </div>
    </body>
</html>  